<app-header></app-header>

<ion-content >
  <ion-grid class="grid-login">
    <ion-row>
      <ion-col >
        <h1 class="nameh">Lançamento</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 class="name">Profissional</h3>
        <ion-item class="item-login" lines="none">
          <ion-select slot="end">
            <ion-select-option value="f">profissional X</ion-select-option>
            <ion-select-option value="m">profissional Y</ion-select-option>
          </ion-select>
        </ion-item>

        <h3 class="name">Grupo de serviço</h3>
        <ion-item class="item-login" lines="none">
          <ion-select slot="end">
            <ion-select-option value="f">profissional X</ion-select-option>
            <ion-select-option value="m">profissional Y</ion-select-option>
          </ion-select>
        </ion-item>
        <h3 class="name">Serviço</h3>
        <ion-item class="item-login" lines="none">
          <ion-select slot="end">
            <ion-select-option value="f">profissional X</ion-select-option>
            <ion-select-option value="m">profissional Y</ion-select-option>
          </ion-select>
        </ion-item>
       
        <h3 class="name">Cliente</h3>
        <ion-item class="item-login" lines="none">
          <ion-input type="text" ></ion-input>
        </ion-item>
        <h3 class="name">Valor</h3>
        <ion-item class="item-login" lines="none">
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-button class="button-login">Confirmar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>