<app-header></app-header>

<ion-content>
  <ion-grid class="grid-login">
    <ion-row>
      <ion-col>
        <h1 class="nameh">Cadastrar serviço</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <h3 class="name">Grupo de serviço</h3>
        <form [formGroup]="formService" (ngSubmit)="setService()">
          <ion-item class="item-login" lines="none">
            <ion-select formControlName="grupoId" slot="end">
              <ion-select-option *ngFor="let item of grupos" value={{item.id}}> {{item.name}}</ion-select-option>
            </ion-select>
          </ion-item>


          <h3 class="name">Nome</h3>
          <ion-item class="item-login" lines="none">
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <h3 class="name">Valor</h3>
          <ion-item class="item-login" lines="none">
            <ion-input type="text" formControlName="price"></ion-input>
          </ion-item>
          <ion-button class="button-login" type="submit" [disabled]="!formService.valid">Confirmar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

